@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Movie App</h1>
    <p class="p-introduction"> My Name is Boipelo Phiri, A young junior Developer with a huge dedication in achieving greatness, highly motivated individual with a background of multiple technologies in software,mobile and web development fields. </p>
</div>

<div class="section text-center">
    <div class="container">
        <div class="app-intro">
            <p> I developed this app in order to showcasemy skills under c# as well with asp.net technology</p>
        </div>
    </div>
</div>